// Variables
// ---------------------------------------/

$container-width: 9800px;
$grid-gutter:     10px;

// Colors
$white:             #ffffff; //#fff;
$black:             #111213; //#333;

// Styles
$text_color:        $black; //#111213;//$black;
$button_color:      #7D868D;//#786e94;//#b5b5cc;//#435774;//#7D868D;

// Font stack
$body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;