--- 
--- 

body, html {
    p {
        font-size: 12pt;
    }

    .top, .bottom, .left, .right {
        background: #000000;
        position: fixed;
    }
    .left, .right {
            top: 0; bottom: 0;
            width: 20px;
    }
    .left { left: 0; }
    .right { right: 0; }
            
    .top, .bottom {
        left: 0; right: 0;
        height: 20px;
    }
    .top { top: 0; }
    .bottom { bottom: 0; }    

    //background-color: #fff6ee;
}
.split {
    height: 100%;
    width: 50%;
    position: relative;
    top: 0;
    overflow-x: hidden;
    padding-top: 5%;
  }
  
.center {
    left: 25%;
    //background-color:  #fff6ee;
  }

.title {
    a:link, a:visited, a:hover, a_active{
        font-family:  "Andale Mono", monospace ;
        font-size: 30pt;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    img {
        width: 30%;
        align: middle;
    }

    p1 {
        font-size: 16pt;
    }

    p2 {
        font-size: 18pt;
    }
    
}



.content {
    font-family: arial, helvetica, sans-serif; 
    font-size: 100px !important;
}
