<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"/>
		<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css?v=" | append: site.github.build_revision | relative_url }}"/></noscript>
		<title>{{ page.title }}</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<meta name="google-site-verification" content="6ehlwu9hYVhnDWI36k-rbmr6WsBNQc85TXsrgA8VF8Y" />
	</head>
	<body class="is-preload">
		<!-- Main -->
          
          <div class="split center">
            <div class="title">
                <a href src="{{ site.url }}">{{ page.title }}</a>
                <br>
                <br>
                <p style="font-family: 'Andale Mono', monospace; text-align: center; font-weight:bold; font-size:20px">
                <img src="{{ "/assets/headshot.jpg" | relative_url }}">
                <br><br><br>
                {{site.position}} <br>
                {{site.location}} <br>
                <span style="color: #3366ff;">email: {{site.email}}</span>
                </p> 
              <br>
            </div>

            <br><br><br>

            <div class="content">
                {{content}}
            </div>
          </div>


        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        
	</body>
</html>
